/*	Based on http://lessframework.com (v3)
	grid: 60 20
	*/

/*	Resets
	------	*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section {
	display: block;
}

a img {border: 0;}

a:active, a:hover {outline: none;}

figure {position: relative;}
figure img {width: 100%;}

/*	Base
	---- */

a { color: #8DBB2F; }

ol, ul {
	padding-left: 24px;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ol, ul, dl, table, fieldset, object {
	margin-bottom: 24px;
}

.tight {
	margin-bottom: 0;
}

/*	Typography presets
	------------------	*/

.gigantic {
	font-size: 110px;
	line-height: 120px;
}

.huge {
	font-size: 68px;
	line-height: 72px;
}

.large, h1 {
	font-size: 42px;
	line-height: 48px;
}

.big, h2 {
	font-size: 26px;
	line-height: 36px;
}

.normal, h3 {
	font-size: 16px;
	line-height: 24px;
}

.small {
	font-size: 13px;
	line-height: 18px;
}

h4, h5, h6 {
	font-size: 16px;
	line-height: 24px;
}

h5, h6 { font-style: italic; }

h6 { font-weight: normal; }

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Arial, sans-serif;
}

p.note {
	color: #5C5C5C;
}

::selection 	 {background: #FFFF00;}
::-moz-selection {background: #FFFF00;}

/*	Default layout
 	-------------- */

body {
	background: #FFFFFF;
	color: #3C3C3C;
	font: 16px/24px 'Palatino Linotype', 'Book Antiqua', Palatino, Georgia, serif;
	margin: 0 auto;
	-webkit-tap-highlight-color: #FFFF00;
}

div.container {
	margin: 0 auto;
	padding: 10px;
	width: 620px;
}

div.search-bar {
	background: #FFFFFF url('../img/search.png') 6px center no-repeat;
	border: 1px solid #AAAAAA;
	border-bottom-color: #888888;
	border-right-color: #888888;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 1px 1px 1px #BBBBBB;
	-moz-box-shadow: 1px 1px 1px #BBBBBB;
	-webkit-box-shadow: 1px 1px 1px #BBBBBB;
	height: 36px;
	padding-left: 34px;
	width: 462px;
}
#main div.search-bar {
	margin-bottom: 24px;
	width: auto;
}
div.search-bar.focused {
	box-shadow: 0 0 3px #8DBB2F;
	-moz-box-shadow: 0 0 3px #8DBB2F;
	-webkit-box-shadow: 0 0 3px #8DBB2F;
}
	div.search-bar input {
		border: none;
		display: block;
		font-family: Helvetica, Arial, sans-serif;
		font-size: 16px;
		height: 24px;
		margin: 0;
		padding: 6px;
		outline: none;
	}
	div.search-bar input[name=q] {
		background: transparent;
		float: left;
		width: 373px;
	}
	#main div.search-bar input[name=q] {
		width: 495px;
	}
	div.search-bar input[type=submit] {
		background: #EAEAEA;
		background-image: -moz-linear-gradient(top, #EAEAEA, #BBBBBB);
		background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #EAEAEA),color-stop(1, #BBBBBB));
		border-top: 1px solid #FFFFFF;
		border-left: 1px solid #AAAAAA;
		border-radius: 0 5px 5px 0;
		-moz-border-radius: 0 5px 5px 0;
		-webkit-border-radius: 0 5px 5px 0;
		/*box-sizing: content-box;*/
		/*-moz-box-sizing: content-box;*/
		/*-webkit-box-sizing: content-box;*/
		color: #444444;
		cursor: pointer;
		float: right;
		height: 36px; /*23px;*/
		/*padding: 6px 12px;*/
		text-shadow: 1px 1px 0 #EEEEEE;
		width: 74px /*50px;*/
	}

article.book {
	border-top: 1px dotted #CCC;
	clear: both;
	padding: 24px 12px;
}
article.book.clickable:hover {
	background-color: #F2F9E6;
	box-shadow: 0 0 3px #8DBB2F;
	-moz-box-shadow: 0 0 3px #8DBB2F;
	-webkit-box-shadow: 0 0 3px #8DBB2F;
	cursor: pointer;
}
	article.book a.title {
		text-decoration: none;
	}
	article.book > div.image,
	article.book > div.info {
		display: table-cell;
	}
	article.book > div.image {
		float: left;
		font-size: 13px;
		line-height: 16px;
		margin-right: 20px;
		text-align: center;
		width: 60px;
		overflow: hidden;
	}
		article.book > div.image > a {
			color: #8DBB2F;
			text-decoration: none;
		}
		article.book > div.image > a > img {
			border: 1px solid #8DBB2F;
		}
		article.book > div.image.no-thumb > a,
		article.book > div.image.no-thumb > span {
			background: #FFFFFF;
			border: 1px solid #8DBB2F;
			display: block;
			height: 46px;
			width: 46px;
			padding: 16px 6px;
		}

article.book > div.ads {
	background: #FAFAFA;
	border: 1px solid #EEEEEE;
	border-width: 1px 0;
	clear: both;
	color: #CCCCCC;
	font-family: Helvetica, Arial, sans-serif;
	font-size: small;
	margin-top: 12px;
	padding: 3px 6px;
	text-shadow: 1px 1px 0 #FFFFFF;
}

article.book > div.details {
	clear: both;
	margin-top: 12px;
}
	article.book > div.details > div {
		float: left;
		padding: 0 10px 10px 0;
		vertical-align: top;
	}
	article.book > div.details > div:last-child {
		padding-right: 0;
	}
	article.book > div.details > div > div.wrap {
		background: #EEE;
		padding: 6px;
	}

	article.book > div.details > div.prices {
		width: 453px;
	}
		article.book > div.details > div.prices table {
			background: #FFF;
			border-collapse: collapse;
			width: 100%;
			margin-bottom: 0;
			-moz-box-shadow: 1px 1px 0 #FFF;
		}
		article.book > div.details > div.prices td,
		article.book > div.details > div.prices th {
			border: 1px solid #CCC;
			font-weight: bold;
			padding: 3px;
		}
		article.book > div.details > div.prices th {
			text-align: left;
		}
		article.book > div.details > div.prices th[scope=col] {
			background: #F5F5F5;
			font-style: italic;
		}
		article.book > div.details > div.prices a {
			color: inherit;
			text-decoration: none;
		}
		article.book > div.details > div.prices td.loading {
			background-image: url('../img/loading.gif');
			background-position: 50% 50%;
			background-repeat: no-repeat;
			color: #CCC;
			font-weight: normal;
			font-family: Helvetica, Arial, sans-serif;
			font-size: small;
			text-indent: -90210px;
		}
		article.book > div.details > div.prices td.none {
			color: #888;
			font-weight: normal;
		}
		article.book > div.details > div.prices tr:hover {
			background: #FFFFEE;
		}
		article.book > div.details > div.prices tr.lowest {
			background: #FFFFDD;
		}
		article.book > div.details > div.prices tr.lowest:hover {
			background: #FFFFD0;
		}
		article.book > div.details > div.prices tr.loaded {
			cursor: pointer;
		}
			article.book > div.details > div.prices tr.lowest span {
				color: #888;
				font-weight: normal;
				font-family: Helvetica, Arial, sans-serif;
				font-size: small;
				padding-left: 6px;
			}

	article.book > div.details > div.external {
		width: 123px;
		text-align: center;
	}
		article.book > div.details > div.external p,
		article.book > div.details > div.external h3 {
			margin-bottom: 3px;
		}
		article.book > div.details > div.external a {
			color: #777;
			font-family: Helvetica, Arial, sans-serif;
			font-weight: bold;
			text-shadow: 1px 1px 0 #FFF;
			text-decoration: none;
		}
		article.book > div.details > div.external p.sponsored {
			color: #AAA;
			font-family: Helvetica, Arial, sans-serif;
			text-shadow: 1px 1px 0 #FFF;
		}
		article.book > div.details > div.external p:last-child {
			margin-bottom: 0;
		}

p.field input, p.field textarea {
	font: 13px/18px Helvetica, Arial, sans-serif;
	padding: 4px;
	width: 600px;
}
p.submit {
	text-align: center;
}
p.field label {
	font-weight: bold;
}
form p.help {
	color: #AAA;
}
form p.msg {
	background: #FFFFCC;
	padding: 6px;
	text-align: center;
}
form span.error {
	color: #ffa0a0;
	font: 13px/18px Helvetica, Arial, sans-serif;
}

#main {
	text-align: center;
}

#top h2 {
	border-bottom: 1px solid #CCC;
	clear: both;
	padding: 0 12px;
}
#top form {
	float: right;
	padding-bottom: 24px;
}
#logo {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 3px;
	background-image: url('../img/bukutip-logo-sm.png');
	float: left;
	height: 35px;
	margin-bottom: 0;
	margin-right: 10px;
	width: 112px;
}
	#logo a {
		display: block;
		height: 100%;
		text-indent: -90210px;
	}
#main #logo {
	background-position: 50% 50%;
	background-image: url('../img/bukutip-logo.png');
	float: none;
	height: 180px;
	text-indent: -90210px;
	width: auto;
}

#search {
	margin-bottom: 24px;
}

#content {
	clear: both;
}

#bottom {
	clear: both;
	color: #CCCCCC;
	text-align: center;
	padding-top: 24px;
}
	#bottom a.zw,
	#bottom p.user a {
		color: #CCCCCC;
		font-weight: bold;
	}

#terms p.cc img {
	float: left;
	margin-right: 12px;
}
#terms li {
	margin-bottom: 6px;
}
#terms li.hl {
	background: #FFFFDD;
	padding: 6px;
}

/*	Layout for smaller screens
 	480px - 767px */

@media only screen and (max-width: 767px) and (min-width: 480px) {

	div.container {
		width: 460px;
	}
	div.search-bar {
		width: 302px;
	}
	div.search-bar input[name=q] {
		width: 212px;
	}
	#main div.search-bar input[name=q] {
		width: 333px;
	}
	article.book > div.details > div.prices {
		width: 293px;
	}
	p.field input, p.field textarea {
		width: 440px;
	}

}

/*	Layout for mobile devices
 	< 480px */

@media only screen and (max-width: 479px) {

	div.container {
		width: 300px;
	}
	div.search-bar {
		width: auto;
	}
	div.search-bar input[name=q] {
		width: 175px;
	}
	#main div.search-bar input[name=q] {
		width: 173px;
	}
	#top form {
		padding-top: 6px;
	}
	#logo {
		background-position: 50% top;
		float: none;
		width: auto;
	}
	article.book > div.details > div.prices {
		width: 276px;
	}
	p.field input, p.field textarea {
		width: 280px;
	}

}
