{% extends "base.html" %}

{% block head %}
	<script src="/static/js/bookshop.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function(){
			var book = {
				"isbn": '{{ book.isbn13 }}',
				"title": '{{ book.title|replace("'", "\\'") }}',
				"author": '{{ book.authors|join(' ')|replace("'", "\\'") }}'
			};
			$.Bookshop.init(book);
		});
	</script>
{% endblock %}

{% block body %}
	<div class="container">
		<header id="top">
			<h1 id="logo"><a href="/">{{ site_title }}</a></h1>
			<form method="get" action="/search">
				<div class="search-bar"><input type="text" name="q" id="q" autofocus/><input type="submit" value="Search"/></div>
			</form>
		</header>
		<section id="content">
		{% if not book %}
			<h2>Book with ISBN "{{ isbn }}" not found, sorry.</h2>
		{% else %}
			<article class="book" id="book-{{ book.isbn13 }}">
				<header>
					<div class="image{% if not book.links.thumbnail %} no-thumb{% endif %}">
						<span class="permalink">{% if book.links.thumbnail %}<img src="{{ book.links.thumbnail }}"/>{% else %}No image{% endif %}</span>
					</div>
					<div class="info">
						<h1 class="normal tight"><span class="title">{{ book.title }}</span></h1>
						<h2 class="small tight">
							by <span class="authors">{{ book.authors|join(', ') }}</span>
							{% if book.published_date %}<span class="published-date">({{ book.published_date.year }})</span>{% endif %}
						</h2>
						<p class="description tight">
							{% if book.description %}{{ book.description }}{% else %}<em>No description</em>{% endif %}
						</p>
					</div>
				</header>
				<section class="details" id="book-{{ book.isbn13 }}-details">
					<section class="prices">
						<div class="wrap">
							<p class="small tight help" id="price-loader-help">Please wait while we grab the prices...</p>
							<table id="book-{{ book.isbn13 }}-prices" class="prices">
								<thead>
									<tr>
										<th scope="col" class="store">Store</th>
										<th scope="col" class="price">Price</th>
									</tr>
								</thead>
								<tbody>
									<tr class="bookxcess">
										<th scope="row" class="store">BookXcess</th>
										<td class="price"></td>
									</tr>
									<tr class="kinokuniya">
										<th col="row" class="store">Kinokuniya</th>
										<td class="price"></td>
									</tr>
									<tr class="mph">
										<th scope="row" class="store">MPH</th>
										<td class="price"></td>
									</tr>
									<tr class="times">
										<th scope="row" class="store">Times Bookstores</th>
										<td class="price"></td>
									</tr>
									<tr class="mudah">
										<th scope="row" class="store">Mudah.my</th>
										<td class="price"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</section>
					{% if book.links.info or book.links.preview -%}
					<section class="sub google">
						<div class="wrap">
							<h3 class="small">Google Books</h3>
							{% if book.links.info %}<p class="small"><a href="{{ book.links.info }}">Read Reviews</a></p>{% endif %}
							{% if book.links.preview %}<p class="small"><a href="{{ book.links.preview }}"><img src="http://www.google.com/intl/en/googlebooks/images/gbs_preview_button1.png"/></a></p>{% endif %}
						</div>
					</section>
					{%- endif %}
					{% if book.links.amazon -%}
					<section class="sub amazon">
						<div class="wrap">
							<h3 class="small">Amazon.com</h3>
							<p class="small sp">Sponsored Link</p>
							<p class="small"><a href="{{ book.links.amazon }}"><img src="https://images-na.ssl-images-amazon.com/images/G/01/buttons/buy-from-tan.gif"/></a></p>
						</div>
					</section>
					{%- endif %}
				</section>
			</article>
		{% endif %}
		</section>
	</div>
{% endblock %}
